<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <!--优先级 从高到低分别是 ERROR、WARN、INFO、DEBUG-->
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
	  <!--<appender-ref ref="ConsoleAppender" />-->
  </root>
  <!--Quartz 输出器 -->
  <logger name="Quartz">
    <!--优先级 从高到低分别是 ERROR、WARN、INFO、DEBUG-->
    <level value="ERROR" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="ConsoleAppender" />
  </logger>
  
  <!--写入控制台。-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
	<filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ALL" />
      <param name="LevelMax" value="Error" />
    </filter>
  </appender>  

  <!--写入本地log。-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value=".\Logs\Log.Log" />
    <appendToFile value="true" />    
    <datePattern value="yyyyMMdd'.log'" />
    <rollingStyle value="Composite" />
    <!--保留50个最近的文件日志-->
    <maxSizeRollBackups value="50" />
    <!--日志文件大小-->
    <maximumFileSize value="100MB"/>
    <!--最小锁定模型,允许多个进程可以写入同一个文件。-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{log4net:HostName} %a [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline" />
      <!--<conversionPattern value="%date [%thread] %-5level %logger [%ndc] ID=%property{EventID} - %message%newline" />-->
    </layout>
	  <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ALL" />
      <param name="LevelMax" value="Error" />
    </filter>
  </appender>  
</log4net>