<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>

    <!--begin RabbitMq配置-->
    
    <!--MQ的地址-->
    <add key="MqHost" value="localhost"/>
    <!--MQ的端口-->
    <add key="MqPort" value="5672"/>
    <!--MQ的用户名-->
    <add key="MqUserName" value="guest"/>
    <!--MQ的密码-->
    <add key="MqPassword" value="guest"/>
    <!--Virtual host-->
    <add key="MqVirtualHost" value="/"/>
    <!--对应于当前项目的队列名称，默认监听的队列-->
    <add key="MqListenQueueName" value="MQ.Advice.Queue"/>

    <!--end RabbitMq配置-->
  </appSettings>
</configuration>
